.team{
    padding-bottom: 3rem;
}

.team, .team-info{
    text-align: center;
}

.team-info{
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.team-info h1{
    /* display: inline-block; */
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #f07f51;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.team-info h1 span{
    color: #343a40;
}

.team-info .team-desc p{
 color: #5f6e9d;
 font-size: 17px;
 line-height: 20px;
 font-weight: 400;
 margin-bottom: 30px;
}

.team-project .project-title{
    margin-bottom: 3rem;
}

.team-project .project-title h3{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color: #f07f51;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.team-project .project-title h3 span{
    color: #111111;
}

.project{
    display: flex;
    flex-wrap: wrap;
}

.project .project-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: left;
    margin-bottom: 3rem;
}

.project .project-item img:first-child{
    width: 120px;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;

    border: 1px solid #eae9ed;
    border-radius: 50%
}
.project .project-item img:last-child{
    width: 80px;
    line-height: 1.5;
}
.project .project-item h4{
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
}

.project .project-item p{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #5f6e9d ;
    margin-right: 100px;
    letter-spacing: 1px;
}

.project .project-item .social{
    margin-right: 150px;
    text-align: right;
}
.project .project-item .social i{
    margin: 0 5px;
}
img{
    vertical-align: middle;
}

