.App{
    position: relative;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
.feature{
    background: #f8f9fb;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
.borbottom{
    border-bottom: 1px solid #eae9ed;
}



@media (max-width: 1200px) {
    .container{
        max-width: 960px;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 740px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 558px;
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    .container{
        padding: 0 20px;
        margin: 0 auto;
    }
}